.related-books
  margin-top 50px
  border-top 1px solid black

h3
  color black
  padding 1rem 0

.related-item
  display flex

.card-title
  max-height 3em
  text-overflow: ellipsis
  overflow hidden