@import("../../../../assets/css/lte_styles.css")

//Variables!
$border-radius-m = 8px
$border-width-s = 2px
$border-color = #ccc

$background-color = $border-color

$size-unit = 8px
$size-unit-xs = $size-unit / 4
$size-unit-s = $size-unit / 2
$size-unit-m = $size-unit
$size-unit-l = $size-unit * 2
$size-unit-xl = $size-unit * 4


.login-box
  background $background-color
  border-radius $border-radius-m
  border $border-width-s solid $border-color

.login-logo
  padding 25px
  margin 0