.nav-item
  cursor pointer


:host-context(.aside-close)
  span
    display none
  
  .nav-item
    > a
      display block
      margin 0
    i
      float none
      font-size 22px
      width auto

