.sidebar-nav
  top 50px
  width auto

.sidebar-wrapper
  overflow-x hidden
  width 100%

.header-aside
  padding 16px 10px

  & > div
    float left

:host-context(.aside-close)
  .header-aside
    min-height 0